.buntton {
	display: flex;
	justify-content: center;

	width: 100vw;
	height: 100vh;
	/* background-color: var(--primary-purple-200); */
}
.button-box {
	margin-top: 40px;
	width: 500px;
	height: 700px;
}
.google-button > button {
	font-weight: 700px;
	color: var(--primary-purple-50);
	border: none;
	border-radius: 5px;
	font-size: 25px;
	width: 100%;
	height: 40px;
	background-color: var(--primary-purple-200);
}
